* {
  box-sizing: border-box; }

body {
  background: #f9fbff;
  padding: 10px 0px 10px 0px;
  height: 100vh;
  width: 100vw;
  perspective: 12000px;
  perspective-origin: center;
  font-family: 'Exo 2', sans-serif; }

.wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  top: 0;
  text-align: center;
  perspective: 60000px;
  box-shadow: -10px 19px 50px 10px rgba(84, 85, 86, 0.8); }
  .wrapper .menu {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 33.3%; }
    .wrapper .menu.top {
      position: relative;
      top: 0;
      width: 100%;
      float: left; }
      .wrapper .menu.top .front {
        background: url("images/top-back.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        font-size: 6em;
        color: rgba(214, 214, 214, 0.7);
        text-shadow: 1px 2px 3px black; }
        .wrapper .menu.top .front .bio::first-letter {
          font-size: 8rem; }
    .wrapper .menu.middle {
      position: relative;
      top: 0;
      bottom: 0;
      width: 100%;
      float: left; }
      .wrapper .menu.middle .front {
        background: url("images/middle-back.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        font-size: 6em;
        color: rgba(214, 214, 214, 0.7);
        text-shadow: 1px 2px 3px black; }
        .wrapper .menu.middle .front .projects::first-letter {
          font-size: 8rem; }
      .wrapper .menu.middle .trigger {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10%;
        margin-top: -1.5%;
        width: 20%;
        height: 20%;
        background: blue; }
    .wrapper .menu.bottom {
      float: left;
      position: relative;
      top: 0;
      bottom: 0;
      width: 100%; }
      .wrapper .menu.bottom .front {
        background: url("images/bottom-back.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        font-size: 6em;
        color: rgba(214, 214, 214, 0.7);
        text-shadow: 1px 2px 3px black; }
        .wrapper .menu.bottom .front .links::first-letter {
          font-size: 8rem; }

.text-container {
  margin-left: 2vw;
  position: relative;
  width: 50vw;
  height: 10vh;
  display: flex; }

.front, .right, .left, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  backface-visibility: hidden;
  box-shadow: inset -5px 5px 7px 0px #414141, inset 5px -5px 7px 0px #414141;
  border: 1px solid #cacbce;
  opacity: 0.9; }

.right {
  background: url("images/grey_wash_wall_@2X.png"); }

.about {
  width: 50%;
  height: 85%;
  left: 50%;
  margin-top: 2vh;
  margin-left: -25%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .about .headshot {
    width: 20%;
    border: 2px solid grey;
    margin-right: 1vw; }
  .about .info {
    border-left: 5px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    .about .info .under {
      width: 100%;
      height: 0;
      border-bottom: 5px solid black; }
    .about .info p {
      width: 100%; }

.social {
  width: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  bottom: auto;
  margin-left: -25%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end; }
  .social .icon {
    display: inline-block; }

.left {
  background: lightblue; }

.back {
  background: lightgreen; }

.menu.rotateRight.top {
  animation: spinRight 800ms linear 0ms 1 forwards; }
.menu.rotateRight.middle {
  animation: spinRight 800ms linear 0ms 1 forwards; }
  .menu.rotateRight.middle.fill .right {
    animation: fillscreen 800ms linear 0ms 1 forwards; }
  .menu.rotateRight.middle.shrink .right {
    animation: shrink 800ms linear 0ms 1 forwards; }
.menu.rotateRight.bottom {
  animation: spinRight 800ms linear 0ms 1 forwards; }

.menu.rotateLeft.top {
  animation: spinLeft 800ms linear 0ms 1 forwards; }
.menu.rotateLeft.middle {
  animation: spinLeft 800ms linear 0ms 1 forwards; }
.menu.rotateLeft.bottom {
  animation: spinLeft 800ms linear 0ms 1 forwards; }

@keyframes spinRight {
  0% {
    transform: rotateY(0deg); }
  30%, 40% {
    transform: rotateY(5deg); }
  70%, 90% {
    transform: rotateY(-95deg); }
  100% {
    transform: rotateY(-90deg); } }
@keyframes spinLeft {
  0% {
    transform: rotateY(-90deg); }
  30%, 40% {
    transform: rotateY(-95deg); }
  70%, 90% {
    transform: rotateY(5deg); }
  100% {
    transform: rotateY(0deg); } }
@keyframes fillscreen {
  0% {
    top: 0%;
    height: 100%;
    bottom: 0%; }
  100% {
    height: 300%;
    top: 0%;
    bottom: 0%; } }
@keyframes shrink {
  0% {
    height: 300%;
    top: 0%;
    bottom: 0%; }
  100% {
    top: 0%;
    height: 100%;
    bottom: 66.6%; } }
.menu:hover .front, .menu:hover .right, .menu:hover .back, .menu:hover .left {
  opacity: 1;
  cursor: pointer; }

.menu.collapseUp {
  animation: up 800ms linear 0ms 1 forwards; }

.menu.collapseDown {
  animation: down 800ms linear 0ms 1 forwards; }

@keyframes up {
  0% {
    height: 33.3%; }
  100% {
    height: 0%; } }
@keyframes childup {
  0% {
    height: 100%; }
  100% {
    height: 0%; } }
@keyframes down {
  0% {
    top: 0;
    bottom: 0;
    height: 33.3%; }
  100% {
    bottom: 0;
    top: 66%;
    height: 0%; } }
.menu.expandDown {
  animation: expDown 800ms linear 1 forwards; }

.menu.expandUp {
  animation: expUp 800ms linear 1 forwards; }

@keyframes expDown {
  0% {
    height: 0%; }
  100% {
    height: 33.3%; } }
@keyframes expUp {
  0% {
    bottom: 0;
    top: 66.6%;
    height: 0%; }
  100% {
    top: 0;
    bottom: 0;
    height: 33.3%; } }
.clear {
  display: inline-block;
  clear: both;
  content: ''; }

/*# sourceMappingURL=style.css.map */
