*{
  box-sizing: border-box;
}
body{
  background: #f9fbff;
  padding: 10px 0px 10px 0px;
  height: 100vh;
  width: 100vw;
  perspective: 12000px;
  perspective-origin: center;
}

.wrapper{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  top: 0;
  text-align: center;
  perspective: 60000px;
  box-shadow: -10px 19px 50px 10px rgba(84, 85, 86, 0.8);
  .menu{
    position: relative;
    width: 100%;
    height: 33.3%;
    .top{
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .middle{
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .bottom{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.front, .middle, .bottom{
  box-shadow: rgba(89, 90, 91, 0.43);
}

.front, .right, .left, .back{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  box-shadow: inset -5px 5px 7px 0px #414141,
  inset 5px -5px 7px 0px #414141;
  border: 1px solid #cacbce;
  opacity: 0.85;
}

.right{
  background: orangered;
  background-size: 100% 100%;
}

.left{
  background: lightblue;
}

.back{
  background: lightgreen;
}


.top{
  transform-style: preserve-3d;
  .front{
    background: url('images/top-back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
}

.middle{
  transform-style: preserve-3d;
  .front{
    background: url('images/middle-back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
}

.bottom{
  transform-style: preserve-3d;
  .front{
    background: url('images/bottom-back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
}

.menu.rotateRight{
  .top{
    animation: spinRight 800ms linear 0ms 1 forwards;
  }
  .middle{
    animation: spinRight 800ms linear 0ms 1 forwards;
  }
  .bottom{
    animation: spinRight 800ms linear 0ms 1 forwards;
  }
}

.menu.rotateLeft{
  .top{
    animation: spinLeft 800ms linear 0ms 1 forwards;
  }
  .middle{
    animation: spinLeft 800ms linear 0ms 1 forwards;
  }
  .bottom{
    animation: spinLeft 800ms linear 0ms 1 forwards;
  }
}

.menu:hover {
  .front, .right, .back, .left{
    opacity: 1;
    cursor: pointer;
  }
}

.collapseUp{
  animation: up 800ms linear 800ms 1 forwards;
}

.collapseDown{
  animation: down 800ms linear 800ms 1 forwards;
}

@keyframes up {
  0%{
    height: 100%;
  }
  100%{
    height: 0%;
  }
}

@keyframes down {
  0%{
    top: 0;
    height: 100%;
  }
  100%{
    top: 100%;
    height: 0%;
  }
}


@keyframes spinRight {
  0%{
    transform: rotateY(0deg);
  }
  30%, 40%{
    transform: rotateY(5deg);
  }
  70%, 90%{
    transform: rotateY(-95deg);
  }
  100%{
    transform: rotateY(-90deg);
  }
}

@keyframes spinLeft {
  0%{
    transform: rotateY(-90deg);
  }
  30%, 40%{
    transform: rotateY(-95deg);
  }
  70%, 90%{
    transform: rotateY(5deg);
  }
  100%{
    transform: rotateY(0deg);
  }
}
